<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
              <div class="panel-image hide-panel-body">
                  <img src="/banner.jpg" class="panel-image-preview" alt="">
              </div>
              <div class="panel-footer text-center">
                  <div class="row">
                      <div class="col-sm-2" style="margin-top: -40px;">
                          <img src="/profile.jpg" height="60px" width="60px" class="home-profile img-circle">
                      </div>
                      <div class="col-sm-10">
                          <h4 style="text-align: left; margin-left: 15px;"><%= current_user.username %></h4>
                      </div>
                      <div class="col-sm-12">
                          <div class="col-sm-6" style="font-size: 40%, opacity: 0.7; font-weight: bold; color: grey; padding-left: 55px;">Beets <br>
                              <h6 style="color: #9331B2; font-size: 150%; margin-top: 0px;"><%= current_user.beets.count %></h6>
                          </div>
                          <div class="col-sm-6" style="font-size: 40%, opacity: 0.7; font-weight: bold; color: grey;">Followers <br>
                              <h6 style="color: #9331B2; font-size: 150%; margin-top: 0px;"><%= current_user.followers.count %></h6>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
              <p style="color: grey; font-size: 125%;">Trends</p>
              <a href="" style="color: #9331B2">#Trend #1</a> <br>
                  <span style="color: grey;">32k Beet</span> <br> <br>
              <a href="" style="color: #9331B2">#Trend #2</a> <br>
                  <span style="color: grey;">26k Beet</span> <br> <br>
              <a href="" style="color: #9331B2">#Trend #3</a> <br>
                  <span style="color: grey;">16k Beet</span> <br> <br>
              <a href="" style="color: #9331B2">#Trend #4</a> <br>
                  <span style="color: grey;">4k Beet</span> <br> <br>
          </div>
        </div>
    </div>
    <div class="col-xs-6">
        <%= render '/components/beet_form' %> <br><br>

        <% for @b in @beets %>
        <div class="panel panel-default beet-panel">
          <div class="panel-body row">
              <div class="col-sm-1">
                  <img src="/profile.jpg" class="img-circle" height="50px" width="50px" alt="">
              </div>
              <div class="col-sm-11">
                  <p class="beet-tittle"><span class="beet-owner"><%= User.find(@b.user_id).username %></span> <span class="beet-creation"> <%= @b.created_at.to_formatted_s(:short) %></p>
                  <p class="beet-content"><%= @b.content %></span></p>
              </div>
              <div class="col-sm-12">
                  <p class="beet-links">
                      <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
                      <a href="#">View conversation</a>
                  </p>
              </div>
          </div>
        </div>
        <% end %>

        <div class="panel panel-default beet-panel">
            <div class="panel-body row">
                <div class="col-sm-12">
                    <center><img src="/beet.png" height="25px" width="25px" alt="">
                        <a href="#top"><p style="opacity: .7; text-align: center; color: #9331B2;">Back to Top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p></a></center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
              <p style="opacity: 0.5; font-size: 90%;"> ©2017 Beet  About  Help  Blog  Status  Jobs  Terms  Privacy  Cookies  Ads  Info  Brand  Advertise  Businesses  Media  Develepores  Directory</p>
          </div>
        </div>
    </div>
</div>
