<div class="row">
    <div class="col-xs-3">
        <div class="col-sm-12" style="margin-top: -200px;">
            <img src="/profile.jpg" height="200px" width="200px;" class="img-circle" alt="">
        </div>
        <div class="col-sm-12">
            <h3><%= params[:id] %></h3>
            <p><%= current_user.address %></p>
            <p><%= current_user.city %></p>
            <p><%= current_user.phone %></p>
        </div>
    </div>
    <div class="col-xs-6">
        <%= render '/components/beet_form' %>
        <% for @b in @beets %>
        <div class="panel panel-default beet-panel">
          <div class="panel-body row">
              <div class="col-sm-1">
                  <img src="/profile.jpg" class="img-circle" height="50px" width="50px" alt="">
              </div>
              <div class="col-sm-11">
                  <p class="beet-tittle"><span class="beet-owner"><%= User.find(@b.user_id).username %></span> <span class="beet-creation"> <%= @b.created_at.to_formatted_s(:short) %></p>
                  <p class="beet-content"><%= @b.content %></span></p>
              </div>
              <div class="col-sm-12">
                  <p class="beet-links">
                      <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
                      <a href="#">View conversation</a>
                  </p>
              </div>
          </div>
        </div>
        <% end %>

        <div class="panel panel-default beet-panel">
            <div class="panel-body row">
                <div class="col-sm-12">
                    <center><img src="/beet.png" height="25px" width="25px" alt="">
                        <a href="#top"><p style="opacity: .7; text-align: center; color: #9331B2;">Back to Top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p></a></center>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
              <h5 style="color: grey; font-size: 125%;">Who to Follow</h5>
              <% for @u in @toFollow do %>
                  <p style="font-weight: bold; opacity: 0.85;"><a href="/user/<%= @u.username %>"><%= @u.username %></a></p>
              <% end %>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
              <p style="color: grey; font-size: 125%;">Trends</p>
              <a href="" style="color: #9331B2">#Trend #1</a> <br>
                  <span style="color: grey;">32k Beet</span> <br> <br>
              <a href="" style="color: #9331B2">#Trend #2</a> <br>
                  <span style="color: grey;">26k Beet</span> <br> <br>
              <a href="" style="color: #9331B2">#Trend #3</a> <br>
                  <span style="color: grey;">16k Beet</span> <br> <br>
              <a href="" style="color: #9331B2">#Trend #4</a> <br>
                  <span style="color: grey;">4k Beet</span> <br> <br>
          </div>
        </div>
    </div>
</div>
